<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout charset="UTF-8" pattern="%-5level %c(%M:%L) - %m%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <!-- 루트 로거 -->
        <Root level="INFO">
            <AppenderRef ref="console"/>
        </Root>

        <!-- 스프링 프레임워크 로그 레벨 DEBUG로 올리기 -->
        <Logger name="org.springframework" level="DEBUG" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>

        <!-- MyBatis 로그 레벨 DEBUG로 올리기 -->
        <Logger name="org.apache.ibatis" level="DEBUG" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>

        <!-- MyBatis 관련 로깅(옵션) -->
        <Logger name="org.mybatis" level="DEBUG" additivity="false">

            <logger name="org.bobj.common.crypto" level="DEBUG"/>
            <logger name="org.bobj.user.service" level="DEBUG"/>
            <logger name="org.springframework.security.oauth2" level="DEBUG"/>
            <logger name="org.mybatis" level="DEBUG"/>

            <AppenderRef ref="console"/>
        </Logger>

        <!-- Redis Connection get/close 로그 억제 -->
        <Logger name="org.springframework.data.redis.core.RedisConnectionUtils" level="WARN" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="org.springframework.data.redis" level="INFO" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="io.lettuce.core.protocol" level="WARN" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="io.lettuce.core" level="WARN" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
    </Loggers>
</Configuration>