<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bobj.point.mapper.PointChargeRequestMapper">

  <insert id="insert" parameterType="org.bobj.point.domain.PointChargeRequestVO"
    useGeneratedKeys="true" keyProperty="id">
    INSERT INTO point_charge_request (
      user_id,
      amount,
      merchant_uid,
      status,
      created_at
    ) VALUES (
               #{userId},
               #{amount},
               #{merchantUid},
               #{status},
               NOW()
             )
  </insert>


  <select id="findByMerchantUid" parameterType="string"
    resultType="org.bobj.point.domain.PointChargeRequestVO">
    SELECT
      id,
      user_id     AS userId,
      amount,
      merchant_uid AS merchantUid,
      imp_uid     AS impUid,
      status,
      created_at  AS createdAt,
      paid_at     AS paidAt
    FROM point_charge_request
    WHERE merchant_uid = #{merchantUid}
      LIMIT 1
  </select>


  <update id="updateStatusAndImpUid"
    parameterType="org.bobj.point.domain.PointChargeRequestVO">
    UPDATE point_charge_request
    SET status  = 'PAID',
        imp_uid = #{impUid},
        paid_at = #{paidAt, jdbcType=TIMESTAMP}
    WHERE merchant_uid = #{merchantUid}
  </update>



  <!--  취소 상태로 변경 -->
  <update id="updateStatusToCancelled" parameterType="string">
    UPDATE point_charge_request
    SET status = 'CANCELLED'
    WHERE merchant_uid = #{merchantUid}
  </update>


</mapper>