<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bobj.funding.mapper.FundingOrderMapper">

  <!-- 내가 투자한 주문 리스트 -->
  <select id="findFundingOrdersByUserId" resultType="org.bobj.funding.dto.FundingOrderUserResponseDTO">
    SELECT
        p.property_id AS property_id,
        p.title,
        f.funding_id AS funding_id,
        f.target_amount,
        f.current_amount,
        FLOOR((f.current_amount / f.target_amount) * 100) AS achievement_rate,
        (f.target_amount - f.current_amount) / 5000 AS remaining_shares,
        (f.target_amount - f.current_amount) AS remaining_amount,
        fo.share_count,
        (SELECT photo_url
        FROM property_photos
        WHERE property_id = p.property_id
        ORDER BY created_at ASC
        LIMIT 1) AS thumbnail_url
    FROM funding_order fo
           JOIN fundings f ON fo.funding_id = f.funding_id
           JOIN properties p ON f.property_id = p.property_id
    WHERE fo.user_id = #{userId}
    <choose>
      <when test="status == 'PENDING'">
        AND fo.status = 'PENDING'
      </when>
      <when test="status == 'REFUNDED'">
        AND fo.status = 'REFUNDED'
        AND f.status = 'FAILED'
      </when>
    </choose>
    ORDER BY fo.created_at DESC
    LIMIT #{limit} OFFSET #{offset}
  </select>
  <resultMap id="FundingOrderUserMap" type="org.bobj.funding.dto.FundingOrderUserResponseDTO">
    <id property="propertyId" column="property_id"/>
    <id property="fundingId" column="funding_id"/>
    <result property="title" column="title"/>
    <result property="shareCount" column="share_count"/>
    <result property="targetAmount" column="target_amount"/>
    <result property="currentAmount" column="current_amount"/>
    <result property="achievementRate" column="achievement_rate"/>
    <result property="remainingShares" column="remaining_shares"/>
    <result property="remainingAmount" column="remaining_amount"/>
    <association property="thumbnail" javaType="org.bobj.property.dto.PhotoDTO">
      <result property="photoUrl" column="thumbnail_url"/>
    </association>
  </resultMap>

  <!-- 펀딩 주문 생성 -->
  <insert id="insertFundingOrder">
    INSERT INTO funding_order (
      user_id, funding_id, share_count, order_price
    ) VALUES (#{userId}, #{fundingId}, #{shareCount}, #{shareCount} * 5000)
  </insert>

  <!-- 주문 취소 -->
  <update id="refundFundingOrder">
    UPDATE funding_order
    SET status = 'REFUNDED'
    WHERE order_id = #{orderId}
  </update>

    <!-- 주문 가능 정보 조회 -->
    <select id="findFundingOrderLimit" resultType="org.bobj.funding.dto.FundingOrderLimitDTO">
        SELECT
            5000 AS share_price,

            -- 펀딩 관련
            f.target_amount - f.current_amount AS remaining_amount,
            (f.target_amount - f.current_amount) / 5000 AS remaining_shares,

            -- 유저 보유 주 수
            IFNULL((
                       SELECT SUM(fo.share_count)
                       FROM funding_order fo
                       WHERE fo.funding_id = f.funding_id
                         AND fo.user_id = #{userId}
                         AND fo.status = 'PENDING'
                   ), 0) AS user_share_count,

            -- 유저 포인트
            u.amount AS user_points

        FROM fundings f
                 JOIN point u ON u.user_id = #{userId}
        WHERE f.funding_id = #{fundingId}
    </select>

    <!-- 펀딩 ID에 해당하는 모든 주문 조회 -->
    <select id="findAllOrdersByFundingId" resultType="org.bobj.funding.domain.FundingOrderVO">
        SELECT order_id,
               user_id,
               funding_id,
               share_count,
               order_price,
               status,
               created_at
        FROM funding_order
        WHERE funding_id = #{fundingId}
    </select>

    <!-- 펀딩 ID에 해당하는 모든 주문 상태 변경 -->
    <update id="markOrdersAsSuccessByFundingId">
        UPDATE funding_order
        SET status = 'SUCCESS'
        WHERE funding_id = #{fundingId}
          AND status = 'PENDING'
    </update>
</mapper>